html
  head
    title Template - This is a statically generated report
  body
    header
      p 
        h1 Self Paced Labs
    section
    table(style='width:50%', border='1')
      tr
        th ID
        th Name

      each lab in labs
        tr
          td 
            a(href="/?lab=" + lab.id) #{lab.id} 
          td #{lab.name}
